.villains {
  padding: 0px;
  margin: auto;
  text-align: center;
}

.villains li.unselected {
  cursor: pointer;
  list-style-type: none;
  border: 2px solid rgb(250, 90, 90);
  border-radius: 5px;
  display: inline-block;
  width: 400px;
  height: 250px;
  margin: 5px;
  animation-name: redBorderFadeOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  vertical-align: top;
}

.villains li.selected {
  animation-name: none;
  background-color: rgba(0,0,0,0.1);
  border: 2px solid rgb(249, 41, 41);
}

.villains li.selected div h1 {
  background-color: rgb(249, 41, 41);
  animation-name: none;
}

@keyframes redBorderFadeIn {
  from {border: 2px solid rgb(250, 90, 90);}
  to {border: 2px solid rgb(249, 41, 41)}
}

@keyframes redBackgroundFadeIn {
  from {background-color: rgb(250, 90, 90);}
  to {background-color: rgb(249, 41, 41)}
}

@keyframes redBorderFadeOut {
  from {border: 2px solid rgb(249, 41, 41)}
  to {border: 2px solid rgb(250, 90, 90);}
}

@keyframes redBackgroundFadeOut {
  from {background-color: rgb(249, 41, 41)}
  to {background-color: rgb(250, 90, 90);}
}

.villainDetails h1{
  animation-name: redBackgroundFadeOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.villains li:hover .villainDetails h1 {
  animation-name: redBackgroundFadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.villains li:hover {
  animation-name: redBorderFadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.villains h1 {
  width: 100%;
  background-color: rgb(250, 90, 90);
  color: white;
  margin: 0px auto;
  text-align: center;
}

#selectedVillain {
  height: 100px;
}

.description {
  padding: 5px;
}
