<!--here is where the @input villain property is bound in the villain blowup view component-->
<app-villain-blowup-view *ngIf="selectedVillain" [villainBlowup]="selectedVillain"></app-villain-blowup-view>

<h2>The Villains</h2>
<ul class="villains">
  <!--changes class to 'selected' when a villain is clicked on/villain and selectedVillain are the same-->
  <li class="unselected" [class.selected]="villain === selectedVillain" *ngFor="let villain of villains" (click)="onSelect(villain)">
    <div class="villainDetails">
      <h1>{{villain.name}}</h1>
      <div class="imageContainer">
        <img [src]="villain.imageLocation" />
      </div>
    </div>
  </li>
</ul>

