div.message, div.messageNone {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  color: white;
  display: none;
}

div.message {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-direction: forwards;
}
div.messageNone {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-direction: forwards;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

h2, div, button {
  margin: 5px;
}
