<div class="startContainer">
  <div class="leftSide">
    <a routerLink="/startgame">START GAME</a>
  </div>
  <div class="rightSide">
    <a routerLink="/options">OPTIONS</a>
  </div>
</div>


<!-- <h3>Top 5 Villains:</h3>
<ul>
  <li>
    <a routerLink="/detail/{{villains[0].URI}}">{{villains[0].FullName}}</a>
  </li>
  <li *ngFor="let villain of villains | slice:1; let i = index;" class="topTen">
    <a routerLink="/detail/{{villain.URI}}">
      <h4>{{villain.FullName}}</h4>
    </a>
  </li>
</ul> -->
<app-backend-test></app-backend-test>
