/* h3 {
  text-align: center;
} */
.startContainer {
  min-height: calc(100vh - 110px);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
                        ". . . . . ."
                        ". . . . . ."
                        ". . . . . ."
                        ". startButton . . optionsButton ."
                        ". . . . . ."
                        ". . . . . ."
                        ". . . . . .";
  justify-items: center;
}

.leftSide, .rightSide {
  height: 14%;
}

.leftSide {
  grid-area: startButton;

}

.rightSide {
  grid-area: optionsButton;
}
